@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: Lexend, sans-serif !important;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  }

h2 {
    font-weight: 400;
}

  input[type='text']{
    font-family: monospace;
    font-weight: 400;
    background-color: black;
    color: white;
  }

  label {
    font-weight: 275;
  }

  #app, h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }

#result, #netherstart, #netherend, footer{
    gap: 0.75rem;
    margin: .5em;
}

form #but{
    display:flex !important;
    align-items: center !important;
    justify-content: center !important;
    justify-items: center !important;
}
button {
    background-color: white;
    font-family: Lexend, sans-serif;
    color: black;
    border:none;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.nether {
  margin:.5em;
  margin-left: 0em !important;
  margin-right: 0em !important;
}

input[type="checkbox"] {
  width: 1.45em; /*Desired width*/
  height: 1.45em; /*Desired height*/
  cursor: pointer;
  margin-left: 0px;
}

#footer {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a:link {
  color: #FFF;
}
a:active {
  color: #888;
}

a:hover {
  color: #BBB;
}
a:visited {
  color: #555;
}
