@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body {
    font-family: Lexend, sans-serif !important;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  }

h2 {
    font-weight: 400;
}

  input[type='text']{
    font-family: monospace;
    font-weight: 400;
    background-color: black;
    color: white;
  }

  label {
    font-weight: 275;
  }

  #app, h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }

  form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }

#result{
    gap: 0.75rem;
    margin: .5em;
}

#but{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
button {
    background-color: white;
    font-family: Lexend, sans-serif;
    color: black;
    border:none;
    margin: 1em;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.nether {
  margin:.5em;
  margin-left: 0em;
  margin-right: 0em;
}

input[type="checkbox"] {
  width: 1.45em; /*Desired width*/
  height: 1.45em; /*Desired height*/
  cursor: pointer;
}